/* Style du compte */
section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2, h3 {
    color: #ff6f00;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff6f00;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e65c00;
}

.footer {
    background-color: #f8f8f8;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-column ul li {
    margin: 10px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
}

.footer-bottom {
    background-color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
}
