.div1{
    flex-wrap: wrap;
}
.game-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 0 1 calc(50% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


h2 {
    color: #4CAF50;
}

p {
    color: #333;
}

@media (max-width: 768px) {
    .game-card {
        flex: 0 1 100%;
    }
}